<div class="containner-card-n1">
  <h2 class="subtítulo-card-n1">Informe suas notas de N2:</h2>
  <div class="form">
    <p-inputNumber
      [showButtons]="true"
      buttonLayout="horizontal"
      spinnerMode="horizontal"
      decrementButtonClass="p-button-danger"
      incrementButtonClass="p-button-success"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [(ngModel)]="processualN2"
      [min]="0"
      [max]="10"
      placeholder="PROCESSUAL N2"
      style="margin-bottom: 1rem"
    ></p-inputNumber>

    <p-inputNumber
      [showButtons]="true"
      buttonLayout="horizontal"
      spinnerMode="horizontal"
      decrementButtonClass="p-button-danger"
      incrementButtonClass="p-button-success"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [(ngModel)]="formalN2"
      [min]="0"
      [max]="10"
      placeholder="FORMAL N2"
    ></p-inputNumber>
  </div>
  <p-button class="button">CALCULAR N2</p-button>
</div>
