<div class="containner-card-n1">
  <h2 class="subtítulo-card-n1">Informe suas notas de N1:</h2>
  <div class="form">
    <p-inputNumber
      [showButtons]="true"
      buttonLayout="horizontal"
      spinnerMode="horizontal"
      decrementButtonClass="p-button-danger"
      incrementButtonClass="p-button-success"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [(ngModel)]="processualN1"
      [min]="0"
      [max]="10"
      placeholder="PROCESSUAL N1"
      style="margin-bottom: 1rem"
      type="number"
    ></p-inputNumber>

    <p-inputNumber
      [showButtons]="true"
      buttonLayout="horizontal"
      spinnerMode="horizontal"
      decrementButtonClass="p-button-danger"
      incrementButtonClass="p-button-success"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [(ngModel)]="formalN1"
      [min]="0"
      [max]="10"
      placeholder="FORMAL N1"
      type="number"
    ></p-inputNumber>
  </div>

  <p-button (click)="calcularN1()" class="button">CALCULAR N1</p-button>
</div>
